.countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}
.country{
    /* border-bottom: 1px solid teal; */
    text-align: center;
    padding: 30px;
    /* background-color: cadetblue; */
    box-shadow: 5px 10px 20px darkkhaki inset;
    border-radius: 5px;
    margin: 20px;
    transition: .5s;
}
.country img{
    width: 200px;
    height: auto;
}
.country:hover{
    background-color: darkkhaki;
    transform: scale(1.05);
    color: white;
}
span{
    color: red;
}
span:hover{
    color: yellow;
}
h1{
    text-align: center;
}
